<form enctype="multipart/form-data" method="post">
   {% csrf_token %}
   {% for campo in formulario %} 
   <div class="mb-3">
      <label for="nombre" class="form-label">{{ campo.label }}</label>
      <input
         type="{{ campo.field.widget.input_type }}"
         class="form-control"
         name="{{ campo.name }}"
         id="{{ campo.name }}"
         placeholder="{{ campo.label }}"
         value="{{ campo.value | default:'' }}"/>         
   </div>
   
   
   {% endfor %}

   <div class="col-12 text-center">
      <div class="row">
         <div class="col-6">
            <input
               name=""
               id=""
               class="btn btn-primary"
               type="submit"
               value="Ingresar"/>               
         </div>
         <div class="col-6">
            <a class="btn btn-primary" href="{% url 'registro' %}" role="button">Crear cuenta</a>
         </div>
      </div>
   </div>
     
</form>