<form enctype="multipart/form-data" method="post">   
   <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
         type="email"
         class="form-control"
         name=""
         id="email"
         placeholder="abc@mail.com"/>
   </div>
      <br>
   <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
         type="password"
         class="form-control"
         name=""
         id="password"/>
   </div>    
</form>