<form enctype="multipart/form-data" method="post">   
   <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
         type="text"
         class="form-control"
         name=""
         id="nombre"
         placeholder="nombre"/>
   </div>
   <div class="mb-3">
      <label for="apellido" class="form-label">Apellido</label>
      <input
         type="text"
         class="form-control"
         name=""
         id="apellido"
         placeholder="apellido"/>
   </div>
   <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
         type="email"
         class="form-control"
         name=""
         id="email"
         placeholder="abc@mail.com"/>
   </div>
   <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
         type="password"
         class="form-control"
         name=""
         id="password"/>
   </div>
</form>