{% extends 'base_usuarios.html' %}

{% block titulo %} Registro {% endblock %}

{% block encabezado %} Registro {% endblock %}

{% block contenido %}

   {% include 'paginas/formulario_usuarios_registro.html' %}
  
{% endblock %}

{% block footer %}
<div class="col-6">
   <a class="btn btn-primary m-2" href="{% url 'index' %}" role="button">
      Regresar
   </a>
</div>
<div class="col-6">
   <button type="button" class="btn btn-primary m-2">
      Registrarse
   </button>
</div>
{% endblock %}