<form enctype="multipart/form-data" method="post">


<div class="mb-3">
    <label for="" class="form-label">Nombre:</label>
    <input type="text"class="form-control" name="" id="" aria-describedby="helpId" placeholder="nombre"/>

    <label for="" class="form-label">Apellidos:</label>
    <input type="text"class="form-control" name="" id="" aria-describedby="helpId" placeholder="apellidos"/>

    <label for="" class="form-label">Direccion:</label>
    <input type="text"class="form-control" name="" id="" aria-describedby="helpId" placeholder="direccion"/>

    <label for="" class="form-label">Telefono:</label>
    <input type="text"class="form-control" name="" id="" aria-describedby="helpId" placeholder="telefono"/>

    <label for="" class="form-label">Correo:</label>
    <input type="text"class="form-control" name="" id="" aria-describedby="helpId" placeholder="Correo"/>
    
</div>


</form>