<form enctype="multipart/form-data" method="post">

{% csrf_token %}

{% for campo in formulario %}
{% if campo.name == 'id_usuario' %}
<div class="mb-3">
    <label for="" class="form-label d-none">{{ campo.label }}</label>
    <input type="{{ campo.field.widget.input_type }}"class="form-control d-none" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ id }}" readonly/>

   
    <br>
    
    

</div>
{% endif %}
{% if campo.name == 'favorito' %}
<div class="mb-3">
    <label for="" class="form-label">{{ campo.label }}</label>
   <input type="checkbox"  name="{{ campo.name }}" class="form-check-input" {% if campo.value %} checked {% endif %}>
    
   
    <br>
    
    
</div>


{% elif campo.name != 'id_usuario' %}
<div class="mb-3">
    <label for="" class="form-label">{{ campo.label }}</label>
    <input type="{{ campo.field.widget.input_type }}"class="form-control" name="{{ campo.name }}" id="" aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value | default:'' }}"/>

   
    <br>
    
    

</div>
{% endif %}
<div class="col-12 help-text">{{ campo.errors }}</div>

{% endfor %}
<input
        name=""
        id=""
        class="btn btn-success"
        type="submit"
        value="Guardar"
    />
</form>