{% extends 'base.html' %}

{% block titulo %} Lista de contactos {% endblock %}

{% block content %}    

<div class="card">
    <div class="card-header">Lista de contactos
        <a
            name=""
            id=""
            class="btn btn-success"
            href="{% url 'crear' id %}"
            role="button"
            > Nuevo contacto</a
        >

       <form action="{% url 'buscar_contacto' id %}" method="get">
       
        <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Nombre"
                required
                
            />
            <input
                name=""
                id=""
                class="btn btn-primary"
                type="submit"
                
                value="Buscar"
            />
            
       </form>
        
       
        <div class="mb-3">
        <form  id ="searchForm" action="{% url 'buscar_categoria' id %}" method="get">    
            <label for="" class="form-label">categorias</label>
            <select
                class="form-select form-select-lg"
                name="categoria"
                id="categorias"
                onchange="this.form.submit()"
            >
                <option selected>seleccione una</option>
                <option value="Todos">Todos</option>
                {% for contacto in all_categorias %}
                <option value="{{contacto}}">{{contacto}}</option>
                {% endfor %}
            </select>
           
            
           
        </form>
            
            
        </div>
        
        
        
    </div>
    
    <div class="card-body">
        <h4 class="card-title">Contactos</h4>
        
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">email </th>
                        <th scope="col">Telefono </th>
                        <th scope="col">Categoría</th>
                        <th scope="col">favorito</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   {% for contacto in contactos %}
                    <tr class="">
                        <td scope="row">{{contacto.id}}</td>
                        <td scope="row">{{contacto.nombre}}</td>
                        <td scope="row">{{contacto.apellido}}</td>
                        <td scope="row">{{contacto.email}}</td>
                        <td scope="row">{{contacto.telefono}}</td>
                        <td scope="row">{{contacto.categoria}}</td>
                        <td scope="row">{{contacto.favorito}}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editar' id contacto.id %}"  role="button">
                            Editar
                            </a
                        >
                         | <a
                            name=""
                            id=""
                            class="btn btn-danger"
                            href="{% url 'eliminar' id contacto.id %}"
                            role="button"
                            >borrar</a
                         >

                         
                         
                         </td>
                        
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted"></div>
</div>




{% endblock %}